* {
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: calc(100vh - 1rem);
}

.main-container {
  background: lightgray;
  display: grid;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
}

.conteneur-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icone-action {
  font-size: 1.5rem;
}

.bouton-action {
  font-size: 2.5rem;
}

.conteneur-zone {
  display: grid;
  padding: 1rem;
}

.emplacement {
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  height: 38px;
  width: 38px;
  background: lightgray;
  color: black;
}

.emplacement.erreur {
  background: red;
}

.emplacement[data-valeur="0"] {
  color: transparent;
}

.emplacement[data-valeur="1"] {
  color: blue;
}

.emplacement[data-valeur="2"] {
  color: green;
}

.emplacement[data-valeur="3"] {
  color: red;
}

.emplacement[data-valeur="4"] {
  color: darkblue;
}

.emplacement[data-valeur="5"] {
  color: brown;
}

.emplacement[data-valeur="6"] {
  color: turquoise;
}

.emplacement[data-valeur="7"] {
  color: black;
}

.emplacement[data-valeur="8"] {
  color: darkgray;
}
